/* main.css */
html,
body {
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.main {
  margin: 0 auto; /* Center the content horizontally */
  align-items: center;
  padding: 10px; /* Consistent padding */
  box-sizing: border-box; /* Include padding & border in width */
  max-width: 1200px; /* Adjust as needed for responsiveness */
  width: calc(100% - 130px); /* Prevent overflow but keep spacing */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Adjust margins on smaller screens */
@media screen and (max-width: 1024px) {
  .main {
    width: calc(100% - 60px); /* Reduce max-width for better fit */
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: calc(100% - 40px); /* More compact spacing on mobile */
    padding: 15px; /* Adjust padding */
  }
}
